#customize-controls .control-section-gurukul-education .accordion-section-title:hover,
#customize-controls .control-section-gurukul-education .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-gurukul-education .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-gurukul-education .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.control-section-gurukul-education a {
    border-radius: 0 !important;
    background: #c5501a !important;
    color: #fff !important;
    border: solid 1px #000 !important;
    font-weight: 900 !important;
}