<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the memberInfo_init() hook (in hooks/memberInfo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="memberInfo-fname-<%%VALUE(id)%%>" class="memberInfo-fname"><%%VALUE(fname)%%></td>
		<td id="memberInfo-lname-<%%VALUE(id)%%>" class="memberInfo-lname"><%%VALUE(lname)%%></td>
		<td id="memberInfo-suffix-<%%VALUE(id)%%>" class="memberInfo-suffix"><%%VALUE(suffix)%%></td>
		<td id="memberInfo-middle-<%%VALUE(id)%%>" class="memberInfo-middle"><%%VALUE(middle)%%></td>
		<td id="memberInfo-memberDate-<%%VALUE(id)%%>" class="memberInfo-memberDate"><%%VALUE(memberDate)%%></td>
		<td id="memberInfo-homePhone-<%%VALUE(id)%%>" class="memberInfo-homePhone"><%%VALUE(homePhone)%%></td>
		<td id="memberInfo-workPhone-<%%VALUE(id)%%>" class="memberInfo-workPhone"><%%VALUE(workPhone)%%></td>
		<td id="memberInfo-mobilePhone-<%%VALUE(id)%%>" class="memberInfo-mobilePhone"><%%VALUE(mobilePhone)%%></td>
		<td id="memberInfo-emailPreferred-<%%VALUE(id)%%>" class="memberInfo-emailPreferred"><%%VALUE(emailPreferred)%%></td>
		<td id="memberInfo-emailOther-<%%VALUE(id)%%>" class="memberInfo-emailOther"><%%VALUE(emailOther)%%></td>
		<td id="memberInfo-addressLine1-<%%VALUE(id)%%>" class="memberInfo-addressLine1"><%%VALUE(addressLine1)%%></td>
		<td id="memberInfo-addressLine2-<%%VALUE(id)%%>" class="memberInfo-addressLine2"><%%VALUE(addressLine2)%%></td>
		<td id="memberInfo-city-<%%VALUE(id)%%>" class="memberInfo-city"><%%VALUE(city)%%></td>
		<td id="memberInfo-state-<%%VALUE(id)%%>" class="memberInfo-state"><%%VALUE(state)%%></td>
		<td id="memberInfo-zip-<%%VALUE(id)%%>" class="memberInfo-zip"><%%VALUE(zip)%%></td>
