<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the phone_init() hook (in hooks/phone.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="phone-phoneType-<%%VALUE(id)%%>" class="phone-phoneType"><%%SELECT%%><%%VALUE(phoneType)%%><%%ENDSELECT%%></td>
		<td id="phone-phoneNumber-<%%VALUE(id)%%>" class="phone-phoneNumber"><%%SELECT%%><%%VALUE(phoneNumber)%%><%%ENDSELECT%%></td>
		<td id="phone-private-<%%VALUE(id)%%>" class="phone-private"><%%SELECT%%><%%VALUE(private)%%><%%ENDSELECT%%></td>
